// Colors
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #D8D8D8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

// Shadows
$shadow-light: 0px 2px 2px 0px rgba(0,0,0,0.14) ,0px 3px 1px -2px rgba(0,0,0,0.12) ,0px 1px 5px 0px rgba(0,0,0,0.2);